.app-bg-color-php {
  background-color: rgb(228, 57, 57) !important;
}

.app-bg-color-react {
  background-color: rgb(28, 143, 57) !important;
}

.app-bg-color-github {
  background-color: rgb(23, 76, 189) !important;
}

.app-bg-color-laravel {
  background-color: rgb(86, 2, 126) !important;
}
